@import "../../../../public/styles/variables.scss";

.btn {
  border-radius: 1.5rem;
  height: 2.9rem;
  text-align: center;
  width: 8rem;
}

.btn.background-primary {
  background-color: $indigo;
  color: $white;
}
.btn.btn-register,
.btn.btn-login {
  border-color: $indigo;
  color: $indigo;
}
