@import "../../../styles.scss";

.btn-auth {
  border-radius: 1.5rem;
  height: 2.9rem;
  text-align: center;
  width: 8rem;
}
.btn-sub {
  border-color: $primary--color;
  color: $primary--color !important;
}
