@import "../../../../styles.scss";

.user-photo {
  border-radius: $profile-photo--radius;
  height: $profile-photo--height;
  width: $profile-photo--width;
}
.card-titles {
  letter-spacing: 0.05rem;
  .text-body-secondary {
    color: #888f9d !important;
    font-size: 0.85rem;
  }
}
.card-body {
  font-size: 0.98rem;
  letter-spacing: 0.1rem;
  .card-text {
    color: #737373;
  }
}
.card-footer {
  .card-link {
    padding: 0.4rem 0.5rem;
  }
}
