@import "../../../../public/styles/mixins.scss";

.color-primary {
  @include color-primary;
}
.btn {
  @include btn-base;
}
.btn.btn-login {
  @include btn-outline-primary;
}
.btn.btn-register {
  @include btn-primary;
}
.form-control.form-input {
  @include form-input;
}
.input-group .eye-btn {
  @include eye-btn-style;
}
.form-control.pass-field {
  height: 3rem;
  &:focus {
    border-color: $indigo;
    box-shadow: none;
  }
}
.pass-error {
  width: 29.5rem;
}
