<div class="row m-0 p-4">
  <div class="col-12">
    <form [formGroup]="registerForm">
      <div class="row">
        <div class="col-md-5 mx-auto border p-3 bg-light rounded">
          <h3 class="text-center color-primary">Register</h3>
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstname"
              (blur)="onTouched('firstname')"
              [ngClass]="{
                'border-danger':
                  !registerForm.get('firstname')?.valid &&
                  (registerForm.get('firstname')?.touched )
              }"
            />
            <div
              *ngIf="
                !registerForm.get('firstname')?.valid &&
                (registerForm.get('firstname')?.touched)
              "
              class="text-danger"
            >
              {{ firstNameError }}
            </div>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastname"
              (blur)="onTouched('lastname')"
              [ngClass]="{
                'border-danger':
                  !registerForm.get('lastname')?.valid &&
                  registerForm.get('lastname')?.touched
              }"
            />
            <div
              *ngIf="
                !registerForm.get('lastname')?.valid &&
                registerForm.get('lastname')?.touched
              "
              class="text-danger"
            >
              {{ lastNameError }}
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              (blur)="onTouched('email')"
              [ngClass]="{
                'border-danger':
                  !registerForm.get('email')?.valid &&
                  registerForm.get('email')?.touched
              }"
            />
            <div
              *ngIf="
                !registerForm.get('email')?.valid &&
                registerForm.get('email')?.touched
              "
              class="text-danger"
            >
              {{ emailError }}
            </div>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              (blur)="onTouched('username')"
              [ngClass]="{
                'border-danger':
                  !registerForm.get('username')?.valid &&
                  registerForm.get('username')?.touched
              }"
            />
            <div
              *ngIf="
                !registerForm.get('username')?.valid &&
                registerForm.get('username')?.touched
              "
              class="text-danger"
            >
              {{ usernameError }}
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              (blur)="onTouched('password')"
              [ngClass]="{
                'border-danger':
                  !registerForm.get('password')?.valid &&
                  registerForm.get('password')?.touched
              }"
            />
            <div
              *ngIf="
                !registerForm.get('password')?.valid &&
                registerForm.get('password')?.touched
              "
              class="text-danger"
            >
              {{ passwordError }}
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!registerForm.valid"
            class="btn bg-primary"
            (click)="onRegister()"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
