<div class="profile-container container mt-4 p-0">
  <div class="profile-container container mt-4 p-0">
    <div class="d-flex align-items-center justify-content-end my-3">
      <span
        class="edit-button me-2"
        (click)="clickedHeaderBTN('add-blog')"
        tooltipPosition="top"
        appTooltip
        tooltipText="Add Blog"
        [showTooltip]="addBlogTooltip"
        (mouseleave)="addBlogTooltip = false"
        (mouseover)="addBlogTooltip = true"
        ><i class="bi bi-plus-circle-fill"></i
      ></span>
      <span
        class="edit-button ms-2"
        (click)="clickedHeaderBTN('edit-profile')"
        ><i
          class="bi bi-pencil-square"
          appTooltip
          tooltipText="Edit Profile"
          tooltipPosition="right"
          [showTooltip]="editProfileTooltip"
          (mouseleave)="editProfileTooltip = false"
          (mouseover)="editProfileTooltip = true"
        ></i
      ></span>
    </div>
    @if(clickedBTN !=='add-blog' && clickedBTN!=='edit-profile'){
    <div class="user-info-container">
      <app-user-info />
    </div>
    } @if(clickedBTN==='edit-profile'){
    <app-edit-user (formSubmitted)="handleAddFormSubmitted($event)" />
    } @if(clickedBTN==='add-blog'){
    <app-add-blog (formSubmitted)="handleAddFormSubmitted($event)" />
    }
    <div class="blogs my-3">
      <h4 class="mt-4 mb-2">My published posts</h4>
      <div class="blog-cards d-flex flex-wrap">
        @for(blog of blogList$ | async ;track $index){
        <div class="mb-3" [ngClass]="{ 'margin-end': ($index + 1) % 3 !== 0 }">
          <app-blog-card [blog]="blog" />
        </div>

      }
    </div>
    @if(!hasBlogs()){
    <div
      class="col p-2 bg-opacity-10 bg-danger border border-danger border-opacity-25 rounded"
    >
      <h6 class="text-danger">You have not posted anything yet.</h6>
    </div>
    }
  </div>
</div>
