@import "../../../styles.scss";
.profile-container {
  width: 76.563rem;
}
.edit-button {
  cursor: pointer;
  &:hover {
    color: $indigo;
  }
}
.blog-cards {
  width: 76.563rem;
}
.user-info-container {
  width: 76.313rem;
}
.margin-end {
  margin-right: 1.46rem;
}
