@import "../../../../public/styles/variables.scss";
@import "../../../../public/styles/mixins.scss";
.navbar-container {
  box-shadow: 0 0.313rem 0.625rem 0 #e1e2e4;
}
.navbar-container .color-primary {
  @include color-primary;
}

.navbar-container .navbar {
  height: $--height-navbar;
}
.username-span {
  cursor: pointer;
}
