<div class="card blog-card p-2">
  <img
    src="/Images/blogs/Graubuenden-Switzerland-with-view-of-houses-on-green-grassy-hills.png"
    class="blog-card-img rounded"
    alt="..."
  />
  <div class="card-body p-2">
    <div class="blog-tags d-flex">
      <span class="tag px-2 py-1 bg-light rounded-1">Technology</span>
    </div>
    <h5 class="card-title mt-1 fw-bold">
      The Impact of Technology on the Workplace: How Technology is Changing
    </h5>
    <div class="blog-footer d-flex  align-items-center justify-content-between">
        <img
        src="/Images/blogs/Graubuenden-Switzerland-with-view-of-houses-on-green-grassy-hills.png"
        class="blog-footer-img rounded-circle"
        alt="..."
      />
      <div class="card-text">
        <small class="text-body-secondary">Chandler Bing</small>
      </div>
      <div class="card-text">
        <small class="text-body-secondary">July 16, 2024</small>
      </div>
    </div>
  </div>
</div>
