@import "../../../../public/styles/variables.scss";
.blog-card {
  cursor: pointer;
  height: 30.5rem;
  width: 24.5rem;
  &-img {
    height: 15rem;
    width: 22.5rem;
  }
  .blog-header {
    height: 8rem;
    width: 21.5rem;
  }
  .card-body-container {
    height: 12.5rem;
    width: 22.5rem;
  }
  .blog-tags {
    flex-wrap: wrap;
  }
  .tag {
    color: $indigo;
    height: 1.75rem;
    text-align: center;
    max-width: 7rem !important;
  }
  .blog-footer {
    height: 2.25rem;
    width: 18.938rem;
    .footer-left {
      width: 9.813rem;
    }
    &-img {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  .btn-delete {
    i {
      color: #aaaec8;
    }
    i:hover {
      color: #dc3545;
    }
  }
}
