@if(blog){
<div class="card blog-card p-2">
  <img [src]="blog.blogImage" class="blog-card-img rounded" alt="..." />
  <div class="card-body p-2">
    <div class="blog-tags row align-items-center justify-content-start">
      @for(tag of blog.tags; track $index){
      <div class="tag col px-2 py-1 bg-light rounded-1 m-2">{{ tag }}</div>
      }
    </div>
    <h5 class="card-title mt-1 fw-bold">
     {{blog.title}}
    </h5>
    <div class="blog-footer d-flex align-items-center justify-content-between">
      <img
        src="/Images/users/3ed0d94be0a9bd3d023f00532889bab152-30-chandler-bing.rsquare.w330.webp"
        class="blog-footer-img rounded-circle"
        alt="..."
      />
      <div class="card-text">
        <small class="text-body-secondary">Chandler Bing</small>
      </div>
      <div class="card-text">
        <small class="text-body-secondary">July 16, 2024</small>
      </div>
    </div>
  </div>
</div>
}