<div class="row m-0 p-4">
  <div class="col-12">
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="col-md-5 mx-auto border p-3 bg-light rounded">
          <h3 class="text-center color-primary">Login</h3>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              (blur)="onTouched('username')"
              [ngClass]="{
                'border-danger':
                  !loginForm.get('username')?.valid &&
                  loginForm.get('username')?.touched
              }"
            />
            <div
              *ngIf="
                !loginForm.get('username')?.valid &&
                loginForm.get('username')?.touched
              "
              class="text-danger"
            >
              {{ usernameError }}
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              (blur)="onTouched('password')"
              [ngClass]="{
                'border-danger':
                  !loginForm.get('password')?.valid &&
                  loginForm.get('password')?.touched
              }"
            />
            <div
              *ngIf="
                !loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched
              "
              class="text-danger"
            >
              {{ passwordError }}
            </div>
          </div>
          <button
            type="submit"
            class="btn bg-primary"
            [disabled]="!loginForm.valid"
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
