<div class="navbar-container bg-body-tertiary">
  <nav class="navbar container navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand color-primary" [routerLink]="'/'">{{ title }}</a>
      @if(currentPage !== register_route && currentPage !== login_route ){
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      @if(currentPage !== profile_route && currentPage !== blog_route ){
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex mx-auto" role="search" [formGroup]="searchForm" (ngSubmit)="searchBlog()">
            <div
              class="search-container form-control d-flex align-items-center m-0 p-0"
            >
              <input
                class="form-control search-field border-0 m-0"
                type="search"
                placeholder="Search"
                formControlName="searchField"
                aria-label="Search"(keyup)="searchBlog()"
              />
              <button class="search-btn btn" type="submit">
                <i class="bi bi-search text-body-secondary"></i>
              </button>
            </div>
          </form>
        </div>
      }
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(!isLoggedin){
        <li class="nav-item d-flex align-items-center">
          <a
            class="nav-link color-primary"
            aria-current="page"
            [routerLink]="login_route"
            >Login</a
          >
          <span>/</span>
          <a
            class="nav-link color-primary"
            aria-current="page"
            [routerLink]="register_route"
          >
            Signup</a
          >
        </li>
        } @else{
        <li class="nav-item d-flex align-items-center fs-5">
          <a class="nav-link d-flex align-items-center justify-content-between">
            <span>Welcome&nbsp; </span
            ><span
              class="link-span color-primary"
              [routerLink]="profile_route"
              appTooltip
              tooltipText="Profile"
              tooltipPosition="bottom"
              [isSticked]="true"
              [showTooltip]="usernameTooltip"
              (mouseleave)="usernameTooltip = false"
              (mouseover)="usernameTooltip = true"
            >
              {{ userName }}</span
            >
          </a>
          <a
            class="nav-link link-span d-flex align-items-center mt-1"
            aria-current="page"
            (click)="logout()"
            ><i
              class="bi bi-box-arrow-in-left"
              appTooltip
              tooltipText="Logout"
              tooltipPosition="left"
              [isSticked]="true"
              [showTooltip]="logoutTooltip"
              (mouseleave)="logoutTooltip = false"
              (mouseover)="logoutTooltip = true"
            ></i
          ></a>
        </li>
        }
      </ul>
      }
    </div>
  </nav>
</div>
