@if(toast){
<div
  class="toaster-card position-fixed p-2 bg-opacity-10 end-0 rounded"
  [ngClass]="{ 'error-toast': toast.type === 'error' ,  'success-toast': toast.type === 'success','info-toast': toast.type === 'info',
  'warning-toast': toast.type === 'warning',}"
>
  <div class="d-flex align-items-center">
    <div class="toast-icon me-2">
      <i class="bi"></i>
    </div>
    <div>
      <div class="toast-header">
        <strong class="toast-title me-auto">{{ toast.title }}</strong>
        <span class="toast-btn-close text-muted fs-4" (click)="closeToast()">
          <i class="bi bi-x"></i>
        </span>
      </div>
      <div class="toast-msg text-muted">{{ toast.msg }}</div>
    </div>
  </div>
</div>
}
