@import "../../../styles.scss";

.toaster-card {
  top: calc($--height-navbar + 1rem);
  margin-right: 1rem;
  border-left: 0.4rem solid;
  animation: 0.7s slide-left ease-in-out;
  min-width: 14rem;
}
@keyframes slide-left {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 1rem;
  }
}
@keyframes slide-right {
  from {
    margin-right: 1rem;
  }
  to {
    margin-right: -100%;
  }
}
.toaster-card.close-toast {
  margin-right: -100%;
  animation: 0.7s slide-right ease-in-out;
}
.toast-btn-close {
  cursor: pointer;
  &:active,
  &:focus {
    box-shadow: none;
  }
}

.error-toast {
  margin-right: 1rem;
  @extend #{".border-danger", ".bg-danger"};
  .toast-title,
  .toast-btn i {
    @extend .text-danger;
  }
  .toast-icon i {
    @extend #{".bi-x-circle-fill", ".text-danger", ".fs-4"};
  }
}
.warning-toast {
  @extend #{".border-warning", ".bg-warning"};
  .toast-title,
  .toast-btn i {
    @extend .text-warning;
  }
  .toast-icon i {
    @extend #{".bi-exclamation-triangle-fill", ".text-warning", ".fs-4"};
  }
}
.info-toast {
  @extend #{".border-info", ".bg-info"};
  .toast-title,
  .toast-btn i {
    @extend .text-info;
  }
  .toast-icon i {
    @extend #{".bi-info-circle-fill", ".text-info", ".fs-4"};
  }
}
.success-toast {
  @extend #{".border-success", ".bg-success"};
  .toast-title,
  .toast-btn i {
    @extend .text-success;
  }
  .toast-icon i {
    @extend #{".bi-check-circle-fill", ".text-success", ".fs-4"};
  }
}
