@import "./variables.scss";

// ====== Colors ======
@mixin color-primary {
  color: $indigo;
}

// ====== Buttons ======
@mixin btn-base {
  border-radius: 1.5rem;
  height: 2.9rem;
  text-align: center;
  width: 8rem;
}

@mixin btn-primary {
  background-color: $indigo;
  color: $white;
}

@mixin btn-outline-primary {
  border-color: $indigo;
  color: $indigo;
}

// ====== Form Inputs ======
// @mixin input-focus {
//   &:focus {
//     border-color: $indigo;
//     box-shadow: none;
//   }
// }

@mixin form-input {
  border-radius: 0.25rem;
  &:not([type="checkbox"]) {
    height: 3rem;
    width: 29.5rem;
  }
  &:focus {
    border-color: $indigo;
    box-shadow: none;
  }
  &:checked {
    background-color: $indigo;
  }
}

@mixin eye-btn-style {
  cursor: pointer;
  &:hover {
    background-color: $indigo-10;
    border-color: $indigo;
  }
  .eye-btn-icon {
    color: $gray;
  }
}
