// ====== Fonts ======
$font-stack: Roboto;

// ====== Colors ======
$indigo: #5957d6;
$indigo-dark: #4341d6;
$indigo-10: #ededff;
$white: #ffffff;
$gray: #686a6c;

// ----- backgrounds -----
$--bg-warning: #fcf6e4;
$--bg-danger: #fdefef;
$--bg-info: #e4f8fc;
$--bg-success: #e2f6ed;
$--bg-indigo: #5957d63a;

// ====== Sizes ======
// ----- navbar -----
$--height-navbar: 4rem;

// ----- profile photo -----
$--width-rofile-photo: 4rem;
$--height-profile-photo: 4rem;
$--radius-profile-photo: 50%;
