$font-stack: Roboto;
$primary--color: #5957d6;
$secondary--color: #5957d63a;
$white--color: #fff;
$profile-photo--width: 4rem;
$profile-photo--height: 4rem;
$profile-photo--radius: 50%;
$navbar--height: 4rem;

$warning--bg: #fcf6e4;
$danger--bg: #fdefef;
$info--bg: #e4f8fc;
$success--bg: #e2f6ed;
