<!-- <div class="container home_container d-grid my-5 p-0">
  <div class="hero-blog-container">
    <img class="hero-blog-image img-fluid" src="/Images/blogs/amiakhum.jpg" />
    <div class="blog-details">
            <div class="blog-tags d-flex align-items-end">
              @for(tag of blog.tags.slice(0, 4); track $index){
              <div
                class="tag d-inline-block text-truncate bg-light rounded-1 m-1 px-2 py-1"
              >
                {{ tag }}
              </div>
              }@if(blog.tags.length>4){
              <span class="text-muted mb-1"><small> more...</small></span
              >}
            </div>
            <h4 class="card-title m-1 fw-bold">
              {{
                blog.title.length > 30
                  ? (blog.title | slice : 0 : 30) + "..."
                  : blog.title
              }}
            </h4>
    </div>
  </div>
</div> -->
