@import "../../../styles.scss";
.home_container {
  width: 76rem;
}
.hero-blog-image {
  border-radius: 0.75rem;
  height: 37.5rem;
  width: 76rem;
}
.blog-details {
  height: 19rem;
  width: 37.375;
}
