@import "../../../styles.scss";
.home_container {
  width: 76rem;
  .hero-blog-container {
    position: relative;
    height: 41.5rem;
    .hero-blog-image {
      border-radius: 0.75rem;
      height: 37.5rem;
      width: 76rem;
    }

    .overlay-hero-blog-image {
      background: linear-gradient(
        transparent,
        transparent,
        transparent,
        rgba(20, 22, 36, 0.338),
        rgba(20, 22, 36, 0.76),
        rgba(20, 22, 36, 0.989)
      );
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 37.5rem;
      width: 76rem;
      border-radius: 0.75rem;
    }
    .blog-details {
      height: 19rem;
      background: #fff;
    }
    .not-loggedin {
      border-radius: 0.75rem;
      box-shadow: 0 0.75rem 1.5rem -0.375rem rgba(24, 26, 42, 0.42);
      padding: 2.5rem;
      top: 22.5rem;
      left: 4rem;
      width: 37.375rem;
    }
    .loggedin {
      background: transparent;
      padding: 0.75rem;
      width: 71rem;
      height: 11.5rem;
      color: #fff;
    }
    .loggedin .card-text .text-body-secondary {
      color: #fff !important;
    }
    .blog-cards {
      width: 76rem;
    }
    .tag-btn {
      background-color: $primary--color;
      border-color: $primary--color;
      height: 1.75rem;
      padding: 0.375rem 0.75rem 0.375rem 0.75rem;
      text-align: center;
      width: 6.313rem;
    }
    .blog-footer {
      height: 2.25rem;
      width: 18.938rem;
      .footer-left {
        width: 9.813rem;
      }
    }
    .blog-footer-img {
      height: 2.25rem;
      width: 2.25rem;
    }
  }
  .loggedin-hero-blog-container {
    height: 37.5rem;
  }
}
.clear-filter-btn {
  cursor: pointer;
  i {
    color: $primary--color;
    font-size: 1rem;
  }
}
