@import " ../../../../../styles.scss";

.eye-btn {
  cursor: pointer;
  .eye-btn-icon {
    color: #686a6c;
  }
  &:hover {
    background-color: #ededff;
    border-color: $primary--color !important;
  }
}
