<div class="mb-3">
  <label class="form-label">{{ fieldlabel }}</label>
  <div [ngClass]="{ 'input-group': fieldType == 'password' }">
    <input
      class="form-control"
      [type]="
        fieldName === 'password'
          ? !showPasswoord
            ? 'password'
            : 'text'
          : fieldType
      "
      [formControl]="fControl"
      (input)="onTouched(fControl)"
      [ngClass]="{
        'border-danger':
          fControl.invalid && (fControl.dirty || fControl.touched)
      }"
    />
    @if( fieldName == 'password'){<span
      class="input-group-text eye-btn"
      appToggleOnHold
      (hold)="onHoldChange($event)"
      ><i class="bi" [ngClass]="!showPasswoord ? 'bi-eye' : 'bi-eye-slash'"></i
    ></span>
    }
  </div>
  @if (!fControl.valid && fControl.touched){
  <div class="text-danger">{{ errorMsg }}</div>
  }
</div>
