<div class="mb-3">
  <label class="form-label">{{ fieldlabel }}</label>
  <div [ngClass]="{ 'input-group': fieldType == 'password' }">
    <input
      class="form-control form-input"
      [type]="
        fieldType === 'password'
          ? !showPassword
            ? 'password'
            : 'text'
          : fieldType
      "
      [formControl]="fControl"
      (blur)="onTouched(fControl)"
      [ngClass]="{
        'border-danger':
          (fControl.invalid && fControl.dirty && fControl.touched) ||
          (fieldName === 'confirmPassword' &&
            !passwordMatched &&
            fControl.dirty &&
            fControl.touched)
      }"
    />
    @if( fieldType == 'password'){<span
      class="input-group-text eye-btn"
      (mousedown)="changePasswordFlag(true)"
      (mouseleave)="changePasswordFlag(false)"
      (mouseup)="changePasswordFlag(false)"
      ><i
        class="eye-btn-icon bi"
        [ngClass]="!showPassword ? 'bi-eye' : 'bi-eye-slash'"
      ></i
    ></span>
    }
  </div>
  @if (!fControl.valid && fControl.touched){
  <div class="text-danger">{{ errorMsg }}</div>
  }
</div>
