@import "../../../../public/styles/variables.scss";

.form-input {
  &:focus {
    border-color: $indigo;
    box-shadow: none;
  }
}

.eye-btn {
  cursor: pointer;
  .eye-btn-icon {
    color: #686a6c;
  }
  &:hover {
    background-color: #ededff;
    border-color: $indigo;
  }
}
