@import "../../../../../public/styles/variables.scss";
@import "../../../../../public/styles/mixins.scss";

.add-blog-container {
  width: 76.063rem;
}

.color-primary {
  @include color-primary;
}
.form-control.form-input {
  @include form-input;
  &:not([type="checkbox"]) {
    width: 29.938rem;
  }
}

.btn {
  @include btn-base;
  border-radius: 0.25rem;
  height: 2.313rem;
  width: 6.063rem;
}
.btn.btn-submit {
  color: $white;
  background: #49a4cb;
  &not:active {
    border-color: #49a4cb;
  }
}
.btn.btn-cancel {
  border-color: #b3b6bd;
  &:hover {
    background: #eff1f9;
  }
  &:active {
    background: #e9ecf6;
  }
}
.banner-image {
  border: 0.063rem dashed #cccc;
  height: 14.188rem;
  width: 62.938rem;
  .image-label {
    cursor: pointer;
  }
}

.uploaded-file {
  height: 3rem;
}
.select-tag {
  cursor: pointer;
}
.selected-tag {
  height: 1.813rem;
}
.form-check-wrapper {
  &:hover {
    background-color: $--bg-indigo;
    cursor: pointer;
  }
  .form-check,
  .form-check-label,
  .form-check-input {
    cursor: pointer;
  }
  .form-check-input:checked {
    border-color: $indigo;
  }
  .form-input:checked {
    background-color: $indigo;
  }
}

.dropdown-menu-container {
  margin-top: 3rem;
}

.add-more,
.cross-btn {
  cursor: pointer;
}

.blog-image {
  max-height: 19rem;
  min-width: 35rem;
}

.editing-image {
  height: 20rem;
  width: 62.938rem;
  .banner-image {
    height: 19rem;

  }
}