@import "../../../../../public/styles/variables.scss";
@import "../../../../../public/styles/mixins.scss";

.btn {
  @include btn-base;
}
.btn-submit {
  color: $white;
}
.btn-cancel {
  border-color: #ccc;
}
.banner-image {
  border: 0.063rem dashed #ccc;
  height: 17rem;
  width: 100%;
  .image-label {
    cursor: pointer;
  }
}
.select-tag {
  cursor: pointer;
}
.form-check-wrapper {
  &:hover {
    background-color: $--bg-indigo;
    cursor: pointer;
  }
  .form-check,
  .form-check-label,
  .form-check-input {
    cursor: pointer;
  }
  .form-check-input:checked {
    border-color: $indigo;
  }
}
.dropdown-menu {
  &:focus {
    border-color: $indigo;
  }
}
.add-more,
.cross-btn {
  cursor: pointer !important;
}
// .form-input {
//   &:focus {
//     border-color: $indigo;
//     box-shadow: none;
//   }
// }
// .btn {
//   height: 2.9rem;
//   width: 8rem;
// }
// .blog-description {
//   padding: 1.6rem !important;
//   .tox-tinymce {
//     border: none !important;
//   }
//   .tox .tox-edit-area::before {
//     border: 0.125rem solid $indigo;
//     border-radius: 1rem;
//     padding: 1.6rem;
//   }
//   .tox-edit-area {
//     border-radius: 0.3rem;
//   }
// }
