/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "assets/styles/variables.scss";

// global css
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font: 100% $font-stack;
}

.color-primary {
  color: $--color-primary !important;
}

.bg-primary {
  color: $--color-white !important;
  background-color: $--color-primary !important;
}

.btn {
  width: 8rem;
  height: 2.9rem;
  border-radius: 1.5rem;
  text-align: center;
}

input {
  &:focus {
    box-shadow: none !important;
    border-color: $--color-primary !important ;
  }
}
input.border-danger:focus {
  border-color: #dc3545 !important;
}
.eye-btn {
  cursor: pointer;
  i {
    color: #686a6c;
  }
  &:hover {
    background-color: #ededff;
    border-color: $--color-primary !important;
  }
}
