@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "ngx-toastr/toastr";
@import "ngx-toastr/toastr-bs5-alert";
@import "../public/styles/variables.scss";

// global css
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font: 100% $font-stack;
}

.color-primary {
  color: $primary--color !important;
}

.background-primary {
  background-color: $primary--color !important;
  color: $white--color !important;
}
.btn-auth {
  border-radius: 1.5rem;
  height: 2.9rem;
  text-align: center;
  width: 8rem;
}
.btn-sub {
  border-color: $primary--color !important;
  color: $primary--color !important;
}

.form-input {
  &:focus {
    border-color: $primary--color;
    box-shadow: none;
  }
}

.eye-btn {
  cursor: pointer;
  .eye-btn-icon {
    color: #686a6c;
  }
  &:hover {
    background-color: #ededff;
    border-color: $primary--color !important;
  }
}
