$font-stack: Roboto;
$--color-primary: #5151d5;
$--color-white: #fff;
.color-primary {
  color: $--color-primary !important;
}
.bg-primary {
  color: $--color-white !important;
  background-color: $--color-primary !important;
}
