@import "../../../../../public/styles/variables.scss";
@import "../../../../../public/styles/mixins.scss";

.btn {
  @include btn-base;
  border-radius: 0.25rem;
  height: 2.75rem;
  width: 9.031rem;
}

.btn.btn-submit {
  color: $white;
  background: $indigo;
  &not:active {
    border-color: #49a4cb;
  }
}

.btn.btn-cancel {
  padding: 0.25rem;
  border-color: #b3b6bd;
  &:hover {
    background: #eff1f9;
  }
  &:active {
    background: #e9ecf6;
    border-color: transparent;
  }
}

.edit-user-container {
  height: 39.188rem;
  width: 76.063rem;
}
.about-input {
  height: 9.375rem;
}

.uploaded-file-name {
  border-radius: 0.75rem;
  height: 3rem;
  width: 26.313rem;
}
.image-prev-container {
  width: 29.875rem;
}
.profile-image {
  border: 0.063rem dashed #ccc;
  height: 17rem;
  width: 29.875rem;
  .image-label {
    cursor: pointer;
  }
}
.profile-img-preview {
  height: 3rem;
  width: 2.938rem;
}
